
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
@Html.Label("Ce site a été créé dans le cadre de la formation POEC C# Diginamic")
@Html.Label("Participants : Nicolas Pillard, Fabien Canehan")
</p>

 