
@{
    ViewData["Title"] = "About";
}

<h1>À Propos</h1>
<a href="https://github.com/nicolaspaillard/Fast-Food"><h4>github.com/nicolaspaillard/Fast-Food</h4></a>
<p>
@Html.Label("Ce site a été créé dans le cadre de la formation POEC C# Diginamic")
    <br />
@Html.Label("Participants : Nicolas Pillard, Fabien Canehan")
</p>

 