@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue chez Fast-Good, le meilleur des fast-foods !</h1>
    <p>Lorem ipsum dolor sit amet...</p>
</div>
