@model WebFastFood.Models.ProductsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier</h1>
<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Menu.Id" />
            <div class="form-group">
                <label asp-for="Menu.Name" class="control-label">Nom</label>
                <input asp-for="Menu.Name" class="form-control" />
                <span asp-validation-for="Menu.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Price" class="control-label">Prix</label>
                <input asp-for="Menu.Price" class="form-control" />
                <span asp-validation-for="Menu.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Description" class="control-label">Description</label>
                <textarea asp-for="Menu.Description" class="form-control"></textarea>
                <span asp-validation-for="Menu.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    List<SelectListItem> burgers = Model.Burgers;
                    List<SelectListItem> sides = Model.Sides;
                    List<SelectListItem> beverages = Model.Beverages;
                    List<SelectListItem> desserts = Model.Desserts;
                }
                <select asp-for="Menu.Burger.Id" asp-items="burgers"></select>
                <select asp-for="Menu.Side.Id" asp-items="sides"></select>
                <select asp-for="Menu.Beverage.Id" asp-items="beverages"></select>
                <select asp-for="Menu.Dessert.Id" asp-items="desserts"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
